.sec3_text {
  text-align: center;
}
.sec3_text p {
  text-align: center;
  color: #b4c246;
  font-size: 20px;
}
.sec3_text h1 {
  font-size: 50px;
}
.sec3_text #tex3 {
  color: black;
  font-size: 30px;
}

.text-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin-left: 40px;
  margin-right: 60px;
  padding: 20px;
}
.text-sec {
  justify-content: space-between;
  border: 2px solid black;
  background-color: rgb(230, 224, 224);
  border-radius: 20px;
  width: 400px;
  padding: 20px;
}
