.aboutus {
  font-family: "Playfair Display", serif;
  background-color: white;
  color: black;
  display: flex;
  width: 100%;
}
.text_1 {
  text-align: left;
  font-size: 30px;
  width: 800px;
  margin-left: 40px;
}
.text_1 h1 {
  text-align: left;
  font-size: 70px;
  width: 600px;
}
.text12 {
  font-size: 20px;
  width: 800px;
  line-height: 40px;
}
#about {
  text-align: left;
  color: #b4c246;
}

#img2 {
  margin-top: -180px;
  height: 250px;
  border-radius: 18px;
  margin-left: 250px;
  position: absolute;
  top: 250px;
  width: 320px;
  height: 280px;
}
#img1 {
  height: 250px;
  border-radius: 18px;
  display: block;
  margin-left: 30px;
  margin-top: 260px;
  width: 320px;
  height: 280px;
}
.image {
  width: 100%;
  margin-right: 10px;
  margin-top: 30px;
}
