.logo-nav {
  display: flex;
  justify-content: space-between;
  margin-left: 40px;
}
.nav {
  display: flex;
  gap: 25px;
  list-style: none;
  text-decoration: none;
  margin-top:30px;
}
.Logo img {
  width: 70px;
  height: 70px;
}
.header1 {
  text-align: center;
  font-size: 30px;
}
.container {
  background-image: url(background.jpeg);
  background-size: cover;
  color: white;
  height: 560px;
  position: relative;
}
h1 {
  line-height: 100px;
  margin-top: -50px;
  font-weight: lighter;
  letter-spacing: 2px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
h3 {
  font-weight: 1;
}
.nav {
  margin-right: 40px;
  font-size: 19px;
}
button{
  background-color:hsl(67, 74%, 50%);
  border-radius: 40px;
  width: 250px;
  height: 40px;
  font-size: 15px;
  font-family:'Times New Roman', Times, serif;
  letter-spacing: 2px;
  cursor: pointer;
  border: 1px solid white;

}
#button2{
  background-color:transparent;
  
  color: white;
  cursor: pointer;

}
button:hover{
   text-shadow: 9px;
   width: 260px;
   height: 50px;
   margin-bottom: 10px; 
   transition: all 0.3s ease-our;
   box-shadow: 0 3px 5px white;
   border: 1px solid white;
}
.Logo img{
  margin-top:30px;
}
#conatct{
  width: 120px;
  margin-top: -10px;
}
.logo-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}