.contact {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 80px 40px;
}
.sec8-text {
  width: 700px;
  margin-left: 350px;
  text-align: center;
}
#Touch {
  color: #b3c23c;
  font-size: 30px;
}
h1 {
  font-size: 40px;
  width: 100%;
  /* letter-spacing: 2px; */
}
.sec8-text p {
  font-size: 20px;
}
.co_fo {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 60px;
}
.contact-info {
  justify-content: left;
  width: 500px;
  margin-left: 30px;
}
.info-item {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  margin-bottom: 30px;
}

.icon {
  width: 48px;
  height: 48px;
  background: #b3c23c;
  color: #111;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.info-item h4 {
  font-size: 16px;
  letter-spacing: 1px;
  margin-bottom: 6px;
}
.follow {
  margin-top: 40px;
  margin-bottom: 15px;
  font-size: 16px;
}

.socials span {
  width: 42px;
  height: 42px;
  background: #eef1dd;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  cursor: pointer;
}
.contact-form {
  width: 600px;
  background: #fff;
  padding: 40px;
  border-radius: 24px;
  border: 2px solid;
  justify-content: flex-end;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.05);
}
.co_fo {
  justify-content: space-between;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-form #textitems {
  width: 100%;
  padding: 18px 20px;
  border-radius: 30px;
  font-size: 15px;
  width: 560px;
}

.contact-form #textarea {
  border-radius: 20px;
  height: 150px;
}

.contact-form button {
  margin-top: 10px;
  padding: 18px;
  border: none;
  border-radius: 30px;
  background: #b3c23c;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
